<div>
<br/>
<h4>Azure Topology Elements</h4>
<br/>

<h5 style="display: inline;">Resource Group: </h5>{{ resource_group_name }}

<br/>
<br/>


<img src="https://gitlab.com/panw-gse/tech-library/deploy/topology-1-ngfw-2-hosts/-/raw/images/hello-world-topology.png" width="800" alt="Hello World Topology">


<br/>
<br/>

<h5>Management IP Addresses</h5>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Device</th>
            <th>Public IP Address</th>
            <th>Private IP Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>NGFW Management Interface</td>
            <td>{{ ngfw_ip_address }}</td>
            <td>{{ fw_mgmt_ip }}</td>
        </tr>
        <tr>
            <td>Jump Host</td>
            <td> {{ jumphost_ip_address }}</td>
            <td>{{ jumphost_mgmt_ip }}</td>
        </tr>
    </tbody>
</table>

<br/>
<br/>

<h5>Sandbox Private IP Addresses</h5>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Device</th>
            <th>Interface</th>
            <th>IP Address</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>NGFW Internet Interface</td>
            <td>ethernet1/1</td>
            <td>{{ fw_untrust_ip ~ "/" ~ untrust_subnet_cidr.split('/')[1] }}</td>
        </tr>
        <tr>
            <td>NGFW Internal Interface</td>
            <td>ethernet1/2</td>
            <td>{{ fw_trust_ip ~ "/" ~ trust_subnet_cidr.split('/')[1] }}</td>
        </tr>
        <tr>
            <td>NGFW DMZ Interface</td>
            <td>ethernet1/3</td>
            <td>{{ fw_dmz_ip ~ "/" ~ dmz_subnet_cidr.split('/')[1] }}</td>
        </tr>
        <tr>
            <td>Ubuntu Internal Client-01</td>
            <td>eth0</td>
            <td>{{ client_01_trust_ip ~ "/" ~ trust_subnet_cidr.split('/')[1] }}</td>
        </tr>
        <tr>
            <td>Ubuntu DMZ Client-02</td>
            <td>eth0</td>
            <td>{{ client_02_dmz_ip ~ "/" ~ dmz_subnet_cidr.split('/')[1] }}</td>
        </tr>
    </tbody>
</table>

</div>